body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* .detail-preview a{
  text-decoration: none;
}

.weather-card a{
  text-decoration: none;
  
} */

/* .card {
 
  display: grid;
   
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
   
  grid-auto-rows: auto;
   
  grid-gap: 200px;
   
  } */

  /* .card {
 
    position: relative;
    top: 90px;
    min-height: 100%;

    display: flex;
     
    flex-wrap: wrap;

    flex-direction: row;
     
    }
   

   
  .card {
   
  border: 2px solid #f4f0f0;
   
  border-radius: 4px;
   
  padding: .5em;
   
  } */

  /* .card {
    border: 0;
  }
  
  .card-img-top {
    border: none;
  }

  .cards {
    display: flex;
    justify-content: center;
  }
  
  .weather-card {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
  }

  .card-spacing {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
  }

  
  

  .mb-3{
    position: relative;
    top: 100px;
    left: 530px;
    max-width: 500px;
  }

  .input-box {
    background-color: #333333 !important;
    border-color: #333333 !important;
  }

  .card-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 0.75rem 1rem;
    font-size: 0.6rem;
    background-color: #333333;
    color: white !important;
    border: none;
  }



   .card-body-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
    
  } 
  

   .card-body div {
    flex-basis: calc(33.33% - 0.5rem);
    border-right: 1px solid #ddd;
    padding: 0.5rem 1rem;
  }
  
  .card-body div:last-child {
    border-right: none;
  }

  .card-body span {
    display: inline-block;
    width: calc(100% / 3);
    text-align: center;
    padding: 1rem 0;
    border-right: 1px solid white;
  }
  .card-body span:last-child {
    border-right: 0;
  }

  .card-body p {
    text-align: left;
    white-space: nowrap;
 } 
  

  .mb-3 ::placeholder{
    color: #f4f0f0 !important;
  }

  .btn-addCity{
    background-color:  #9a50e5 !important;
    color: #f4f0f0 !important;
  }
  .header{
    position:relative;
    right: 650px;
    
  }

  .header h1{
    position: relative;
    top: 30px;
    float:right;
    color: #f4f0f0;
    font-size: 25px;
    text-align: center;
    padding-left: 10px;
    
  }

  .logo {
    position: relative;
    top: 25px;
    float: right;
    width: 45px;
  }

  .card-Main{
    position: relative;
    top: 100px;
  } */

  /* .header{
    position:relative;
    right:-350px;
    
  } */

  /*-------------------------------------------------Input box------------------------------*/

  .mb-3{
    position: relative;
    top: 60px;
    left: 530px;
    max-width: 500px;
  }

  .input-box {
    background-color: #333333 !important;
    border-color: #333333 !important;
  }

  .btn-addCity{
    background-color:  #9a50e5 !important;
    color: #f4f0f0 !important;
  }

  .mb-3 ::placeholder{
    color: #f4f0f0 !important;
  }

  /*-------------------------------------------------header---------------------------------*/

  .header h1{
    position: relative;
    top: 50px;
    color: #f4f0f0;
    font-size: 25px;
    text-align: center;
    padding-left: 10px;
    
  }

  .logo {
    position: relative;
    top: 10px;
    left: 630px;
    width: 45px;
  }


  /* ----------------------------------------------One Card--------------------------------------------- */
  
  .one-card{
    position: relative;
    top: -350px;
    margin-top: 30%;
    margin-left: 20%;

  margin-right: 20%;

  width: 900px;
  border: none;

    
    text-align: center;
    color: white;
  }

  .c-body{
    background-color: #333333;
    height: 150px;
    color: white;
  }

  .text-left{
    float: left;
  }
  .text-right{
    float: right;
  }

  /* --------------------------------------------card list-------------------------------------------- */

  .card-main{
    position:absolute;
    top: 30%; 
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin-left: 15%;
    margin-right: 15%;
    
}

.card-each{
    height: 350px;
    background-color: #383b47 ;
    color: rgb(254, 254, 254);
    border-radius: 20px;
    
}

  .card-img{
    background-color: #388ee7;
    height: 200px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.card-top-left{
    position: absolute;
    padding: 30px;
    text-align: center;
}

.card-top-left h2{
    font-size: 40px;
}

.card-top-left p{
    font-size: 20px;
}

.card-top-right{
    position: absolute;
    padding: 30px;
    margin-left: 60%;
    text-align: center;
}

.card-top-right h1{
    font-size: 50px;
}

.card-body-middle{
    position: absolute;
    top: 60%;
    left: 38%;
    font-weight: bold;
}

.card-body-right{
   position: absolute;
   top: 60%;
   left: 72%;
   font-weight: bold;
}

.card-body-left{
    top: 62%;
    margin-left: 8%;
    font-weight: bold;
}

.card-body1{
  background-color: #383b47 ;
  
}

 




  


