body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

  /*-------------------------------------------------Background------------------------------*/

  .background{
    height: 236vh;
    width: 98.9vw;
  }

  /*-------------------------------------------------Input box------------------------------*/

  .mb-3{
    position: relative;
    bottom: 1600px;
    margin-top: 3%;   
    left: 32%;
    max-width: 35%;
  }

  .input-box {
    background-color: #333333 !important;
    border-color: #333333 !important;
  }

  .btn-addCity{
    background-color:  #9a50e5 !important;
    color: #f4f0f0 !important;
  }

  .mb-3 ::placeholder{
    color: #f4f0f0 !important;
  }

  /*-------------------------------------------------header---------------------------------*/

  .header h1{
    /* position: relative;
    bottom: 1680px; */
    position: absolute;
    top: 2%;
    left: 45%;
    color: white;
    font-size: 25px;
    margin-top: 2%;
    text-align: center;
    padding-left: 10px;
    
    
  }

  .logo {
    position: absolute;
    /* bottom: 1728px; */
    top: 5%;
    left: 42%;
    width: 45px;
  }


  /* ----------------------------------------------One Card--------------------------------------------- */
  
  .one-card{
    /* top: -1600px; */
    position: absolute;
    display: flex;
    top: 30%;
    margin-left: 20%;
    margin-right: 20%;
   
    width: 900px;
    border: none;
    text-align: center;
    color: white;
  }



  .c-body{
    background-color: #333333;
    height: 150px;
    color: white;
  }

  .text-left{
    position: absolute;
    margin-top: 5%;
    margin-left: 20%;
    font-size: 12px;
    
  }
  .text-right{
    position: absolute;
    margin-top: 7%;
    margin-left: 65%;
    font-size: 12px;
  }

  .text-middle{
    position: absolute;
    margin-top: 2%;
    font-size: 12px;
    margin-left: 37%;
    border-right-style: solid;
    border-left-style: solid;
    border-width: 2px;
    border-color: white;
    padding-right: 55px;
    padding-left: 55px;
    padding-top: 40px;
    
  }

  .temp{
    position: absolute;
    margin-left: 55%;
  }

  .w-description{
    position: absolute;
    margin-left: 35%;
    margin-top: 3%;
    border-right-style: solid;
    border-width: 2px;
    border-color: white;
    padding-right: 55px;
    padding-top: 60px;
    font-size: 12px;
  }

  .text-left p{
   margin-top: -12px;
  }

  .text-right p{
    margin-top: -12px;
   }

  

  .main-temp{
    font-size: 50px;
    position: relative;
    margin-top: 3%;
    
  }

  .temp-var{
    font-size: 12px;
    position: absolute;
    margin-right: 3%;
    bottom: -50px;
  }

  .temp-var p{
    margin-top: -15px;
  }

  /* --------------------------------------------card list-------------------------------------------- */

  .card-main{
    position:absolute;
    top: 20%; 
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin-top: 5%;
    margin-left: 15%;
    margin-right: 15%;
    
    
}

.card-each{
    height: 200px;
    background-color: #383b47 ;
    color: rgb(254, 254, 254);
    border-radius: 20px;
    font-size: 12px;
    
}

  .card-img{
    background-color: #388ee7;
    height: 200px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}




.card-top-left{
    position: absolute;
    padding: 30px;
    text-align: center;
    text-decoration: none;
}

.card-top-left h2{
  margin-top: 10px;
    font-size: 25px;
}

/* .card-top-left h4{
  font-size: 12px;
} */

.card-top-left p{
    font-size: 12px;
   margin-bottom: 25px;
}

.card-top-right{
    position: absolute;
    padding: 30px;
    margin-left: 52%;
    text-align: center;
    
}

.card-top-right h1{
    font-size: 50px;
}

.card-bottom-right h5{
  font-size: 12px;
  position: relative;
  top: 10px;
  right: 30px;
}



.card-body-middle{
    position: absolute;
    top: 70%;
    left: 39%;
    font-weight: bold;
    border-right-style: solid;
    border-left-style: solid;
    border-width: 2px;
    border-color: white;
}

.card-body-right{
   position: absolute;
   top: 60%;
   left: 74%;
   font-weight: bold;
}

.card-body-left{
    top: 62%;
    margin-left: 6%;
    font-weight: bold;
}

.card-body1{
  background-color: #383b47 ;
  
}


/* ----------------------------------footer----------------------------------------- */


.footer{
  position: relative;
  bottom: 0px;
  text-align: center;
  margin-bottom: 0px;
  margin-top: -100px;
  background-color: #333333;
  color: #f0f8ff;
  padding-top: 3%;
  padding-bottom: 3%;
}


/* ------------------------------------media queries------------------------------------- */


@media screen and (max-width : 1285px) {
  .card-top-left{
    padding: 20px;
   
}

.card-top-right{
  padding: 30px;
  margin-left: 50%;
  
  
}

.card-body-right{
  left: 75%;
  
}

.card-body-left{
   margin-left: 4%;
   
}



  
}

@media screen and (max-width : 1180px){

  .card-top-right{
    
    padding: 25px;
    margin-left: 50%;
    
    
  }

  .card-body-right{
    
    
    left: 80%;
    
  }
  
  .card-body-left{
     
     margin-left: -2%;
     
  }

  .card-top-right h1{
    font-size: 40px;
}


/* -------------------------one card---------------------------------------------- */

.one-card{
  margin-left: 8%;
 
}
}

@media screen and (max-width : 1000px){
  .card-main{
    grid-template-columns: repeat(1, 1fr);
  }

  .mb-3{
    position: relative;
    bottom: 3150px;
    margin-top: 3%;   
    left: 24%;
    max-width: 45%;
  }

  .background{
    height: 448vh;
    width: 98.3vw;
  }

  .card-top-right{
    
    padding: 20px;
    margin-left: 65%;
    
    
  }

  .card-top-left{
  
    padding: 20px;
    margin-left: 10%;
    
}

.card-body-right{
  
  
  left: 75%;
  
}

.card-body-left{
   
   margin-left: 5%;
   
}

.one-card{
  margin-left: 5%;
  width: 100%;
 
}

.overlay-img{
  width: 30%;
}

 


  
}


@media screen and (max-width : 585px){

  .card-top-right{
    padding: 20px;
    margin-left: 50%;
    
    
  }

}


 




  


